mixin servicesSection(servicesSections)
    each servicesSection in servicesSections
        section.services
            h2 #{servicesSection.title}
            .section-row
                img(src=servicesSection.img1, alt="toshiba-devices", srcset="")
                p.hidden!= servicesSection.para1
            .section-row.rv
                img(src=servicesSection.img2, alt="toshiba-devices", srcset="")
                p.hidden!= servicesSection.para2
        +hotline-box()